.quote-container{
    border-bottom: 1px solid grey;
    padding-top: 2%;
}

.quote{
    font-style: italic;
    font-size: 1.2em;
}

.quote-author{
    color: lightgray;
    font-size: .9em;
}

.highlight{
    color: white;
}

.quote-table{
    border-bottom: 1px solid grey;
    padding-top: 2%;
}

table, th, td {
    border: 1px solid;
  }